/* WebPoint Login CSS
----------------------------------------------------------------------------- */

.webpoint-login input[type="text"],
.webpoint-login input[type="email"],
.webpoint-login input[type="password"],
.webpoint-login input[type="url"] {
    width: 100%;
}

.webpoint-login .show-pass {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1.875rem;
    height: 1.875rem;
    font-size: 16px;
    color: #A7A7A7;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAMAAACKYC6uAAAANlBMVEUAAAC2travr6+urq6tra2ysrK3t7exsbG3t7ezs7OwsLCwsLCxsbGxsbGurq6urq61tbW1tbXn1XMJAAAAEnRSTlMAt3S4qAmkmVVCMiZQoWkhgRSR5unpAAAAbElEQVQI1x2NSxYAEQwEOz8JwXD/yw5qVb2o1zhYXYWorGp4NKfCEVzI292dStiO2BaFuqGSJ/ImH9IpIGMDkyZTB/YgjJEnk7WkAjkUTbXCWIRPfh3NZZ488bG8myvKvbMKf3hYm67qsxmAHzQeA56TBwXOAAAAAElFTkSuQmCC) no-repeat center center transparent;
    width: 16px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.webpoint-login .show-pass span {
    vertical-align: middle;
    line-height: normal;
    font-size: 14px;
    padding: 0 1px 1px 1px;
}

#login .login-remember {
    margin: 0 0 0.75rem 0;
}

.webpoint-login input[type="checkbox"] {
    display: inline;
    margin: -0.125rem 0.25rem 0 0;
    text-align: center;
    vertical-align: middle;
}

.webpoint-login label {
    display: inline-block;
    margin: 0 0 0.25rem 0.0625rem;
    position: relative;
    line-height: 1.375rem;
}

.webpoint-login label .required {
    color: #ff0000;
    opacity: 0.5;
    display: inline-block;
    line-height: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    text-align: center;
    margin: 0 -0.75rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.webpoint-login form .recaptcha {
    color: #888;
    font-size: 0.8125rem;
    margin: 1rem 0 0.875rem 0;
    overflow: hidden;
}

.webpoint-login form .recaptcha .fa {
    color: #2a5885;
    font-size: 0.875rem;
}

.webpoint-login form .recaptcha .fa-exclamation-triangle {
    color: #f90101;
    margin: 0 0.25rem 0 0;
}

.webpoint-login .form-info {
    color: #808080;
    font-size: 0.8215rem;
    font-style: italic;
}

.webpoint-login .form-info .req {
    color: #ff0000;
}

.webpoint-login .success {
    background-color: #f5f5f5;
    border-left: 0.25rem solid #7ad03a;
    padding: 0.5rem 0.625rem 0.5rem 0.75rem;
}

.webpoint-login .error {
    background-color: #f5f5f5;
    border-left: 0.25rem solid #dd3d36;
    padding: 0.5rem 0.625rem 0.5rem 0.75rem;
}

.webpoint-login .notice {
    padding: 0.5rem 0.625rem 0.5rem 0.75rem;
    background-color: #f5f5f5;
    border-left: 0.25rem solid #fad054;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.webpoint-login #complexity,
.webpoint-login #pass-match {
    vertical-align: middle;
    margin: -0.5rem 0 1.125rem 0;
}

.webpoint-login .default {
    display: none;
}

.webpoint-login .weak {
    color: #bb0000;
    display: block;
}

.webpoint-login .strong {
    color: #ffa500;
    display: block;
}

.webpoint-login .stronger {
    color: #008000;
    display: block;
}

.webpoint-login .strongest {
    color: #008000;
    display: block;
}

.webpoint-login .cp-default {
    display: none;
}

.webpoint-login .cp-not-match {
    color: #bb0000;
    display: block;
}

.webpoint-login .cp-match {
    color: #008000;
    display: block;
}

.webpoint-login .password-indicator {
    background: #ddd;
    height: 0.375rem;
    margin: -0.5rem 0 1.125rem;
}

.webpoint-login #password-indicator-i {
    height: 0.375rem;
    width: 0;
    transition: width 0.3s ease-out 0s;
}

/* ####################################################### WebPoint Login */